*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
}

.grid-container {
  font-family: "HelveticaNeue-UltraLight", "Helvetica Ultra Light",
    "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: lighter;

  display: grid;
  justify-content: center;
  align-content: center;

  grid-template-columns: repeat(4, 57px);
  grid-template-rows: minmax(67px, auto) repeat(5, 47px);

  min-height: 100vh;
}

.grid-container > button {
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
}

.grid-container > button:active {
  opacity: 0.7;
}

.output {
  color: white;
  background-color: #898279;
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.output .previous-operand {
  font-size: 1.5rem;
}

.output .current-operand {
  font-size: 2.5rem;
}

.box {
  margin: 0;
  background-color: #e0e0e0;
  height: 47px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #898279;
  border-right: 0px;
}

.box.first {
  background-color: #d6d6d6;
  /* background-color: #9e2828; */
  color: #898279;
  font-weight: lighter;
}

.box img {
  width: 30px;
}

.box.symbol {
  background-color: #ff8c00;
  color: white;
  border: 1px solid #898279;
}

.bottom-left {
  background-color: #e0e0e0;

  display: flex;
  justify-content: left;
  border-bottom-left-radius: 5px;
  border-right: none;
  grid-column: span 2;
  padding-left: calc(47 / 2 * 1px);
}

.bottom-right {
  border-bottom-right-radius: 5px;
}
